/* Colores de marca @jasonquiar */
    :root {
        /* Colors */

        /* Primarios */
        --colorPrimary-high:#011638;
        --colorPrimary-medium:#0A2552;
        --colorPrimary-soft:#18376B;    

        /* secundary */
        --colorSecundary-high:#873D48;
        --colorSecundary-medium:#A15863;
        --colorSecunday-soft:#BA7983;

        /* Tertiary */
        --colortTertiary-high:#F9DC5C;
        --color-Tertiary-medium:#FFE678;
        --colorTertiary-soft:#FFEB91;

        /* contraste */
        --colorContrast-soft:#5EFFDF;
        --colorContrast-medium:#40FFD9;
        --colorContrast-high:#23F0C7;
        
        /* neutros */
        --just-white: #fff;
        --color-white: #F2F2F2;
        --just-black:#000;
        --color-black: #1F1F1F;
        
        /* Grises */
        --colorGrey-soft:#D7D7D7;
        --colorGrey-high: #6B6B6B;
        --colorGrey-medium:#9E9E9E;
    }

/* SETEO Y PATRONES DE DISEÑO */
   
    /* Quitamos valores por defecto */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        html {
            font-size: 62.5%;
            font-family: 'Montserrat', sans-serif;
        }
        a{ 
            text-decoration: none;
        }
        ul li{
          list-style: none;
        }
        .icon img{
            width: 40px;
            height: 40px;
        }
    
    /* Navegador */
        .nav {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 18px 4px;
        }

        .nav-logo{
            display:flex;
            flex-direction: row;
        }
        .nav-links{
            align-self: center;
            /* margin: 12px 8px; */
        }
       
        .item {
            margin: 8px 12px;
            align-self: center;
            justify-self: center;
        }

        .nav__item--1 { 
            grid-column: 1; 
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin: 8px 12px;

        }

        .nav__item--2 {
            vertical-align: middle;
            font-size: 2.5rem;
            font-weight: 700;
            margin: 8px 0;
        }

        .nav__item--3 { 
            vertical-align: middle;
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--color-black);
        }
        
        .nav__item--4 { 
            vertical-align: middle;
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--color-black);
        }
        
        .nav__item--5{
            vertical-align: middle;
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--color-black);
        }

        .nav__item--6 {
           font-size: 1.4rem;
           font-weight: bold;
           color: var(--color-black);
           padding: 8px 8px;
           border: var(--color-black) solid 2px;
           border-radius: 12px;
           min-width: 65px;
           margin: 0;
           vertical-align: middle;
        }
        
        .nav-espanol{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 0 0 8px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../assets/img/Banderas/USA.png");
            vertical-align: middle;
        }
        .nav-english{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 0 0 8px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../assets/img/Banderas/espana.png");
            vertical-align: middle;
        }
        

        /* img {
            width: 25px;
        } */


    /* Cabezeras */
    
        header {        
            width: 100%;
            height: auto;
            background: var(--color-white);
        }
        .header--container {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 24px 12px;
        }
        .header--container img {
            align-self: center;
            width: 150px;
        }
        .header--container h1 {
            font-size: 4rem;
            font-weight: bold;
            text-align: center;
        }
        .header--container h2 {
            font-size: 2.5rem;
            font-weight: 500;
            margin:24px 12px;
            text-align: center;
        }
        .header--container h3{
            font-size: 1.8rem;
            color:var(--colorContrast-high)
        }

        .header--container p{
            font-size: 1.8rem;
            font-weight: 600;
            color:var(--colorSecundary-medium)
        }

        .header--button {
            margin-top: 24px;
            padding: 20px 30px;
            width: 260px;
            background: var(--color-black);
            box-shadow: -2px 4px 8px var(--color-black);
            border: none;
            border-radius: 8px;
            font-size: 1.8rem;
            font-weight: bold;
            color: var(--color-white);
            align-self: center;
        }
        .header--container .header--button span {
            display: inline-block;
            width: 13px;
            height: 8px;
            margin-left: 10px;
            background-image: url("../assets/img/icons/down-row.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: var(--color-white);
        }
    
    /* Pies de pagina */
        footer{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            min-width: 360px;
            width: 100%;
            height: auto;
            padding: 12px 12px;
            background: var(--color-black);
        }
        
        footer h2{ 
            text-align: center;
            align-self: center;
            font-size: 3rem;
            line-height: 3rem;
            color: var(--color-white);
            margin: 16px auto;
        }
        .footer-event{
            width: 70%;
            height: 50px;
            margin:12px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
            font-size: 1.8rem;
            color: var(--color-white);  
            justify-items: center;
            align-items: center;
        }
        .footer-icons-container{
            align-self: center;
            margin: 0 12px;
        }
        .footer-icons-container .icons{
            width: 340px;
            margin: 12px 0;
            height: auto;
            display: flex;
            height: 40px;
            justify-content: space-between;
            color:var(--color-white);
        }

        footer-icons-container img{
            width: 40px;
            width: 40px;
        }
        .footer-icons-container .footer-dev-body{
            text-align: center;
            font-size: 1.5rem;
            padding: 4px 0px;
        }
        .footer-event h3{ 
            text-align: left;
            font-size: 1.2rem;
            
            color: var(--color-white);
            align-self:flex-start;
            justify-content: center;
        }

        .footer-links{
            width: 70%;
            align-self: center;
            border-top: 2px solid var(--color-white);
            border-bottom: 2px solid var(--color-white);
        }
      
        .footer-link-container{
            display: none;
        }
     
        .footer-link-container a{
            align-items: center;   
            color: var(--color-white);
        }

        .footer-link-item{
            display: flex;
            text-align: center;
            justify-items: center;
            font-size: 1.8rem;
            line-height: 2rem;
            color: var(--color-white);
        }

        .footer-mail-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            align-items: center;
            margin:12px 0;
        }

        .footer-mail-item{
            place-items: center;
            font-size: 1.8rem;
            line-height: 2rem;
        }

        .footer-mail-item a{
            color: var(--color-white);
        }
        
        #enviarCorreo {
            padding: 12px 32px;
            font-weight: bold;
            font-size: 1.5rem;
            background-color: var(--colorSecunday-soft);
            color: var(--color-white);
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        #enviarCorreo:hover{
            color: var(--color-black);
        }

/* Platzi */
        .platzi-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            align-items: center;
            justify-content: center;
            margin:8px 0;
        }

        .platzi-tittle {
            font-size: 2rem;
            align-items: center;
            color: var(--color-white);
        }

        .platzi-img{
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-left: 10px;
            background-image: url("../assets/img/icons/Icon-Platzi-transparencia.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: var(--color-white);
        }

        .footer-dev-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            margin:8px 0;
            align-items: center;
            justify-content: space-around;
        }
        .footer-dev-body{    
            font-size: 1rem;
            color: var(--color-white);
        }

    /* WhatsApp Estatico */
        .whatsapp-container {
            position: fixed;
            text-align: center;
            width: 54px;
            height: 54px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 999;
            border-radius: 50%;
            background-color: var(--colorContrast-high);
            border: 3 solid var(--color-black);
        }

        .whatsapp-container img{
            width: 50px;
            height: 50px;
            /* margin:0 0 1px 10px; */
        }
        .whatsapp-container a{
            align-self: center;
            width: 70px;
            height: 70px;
        }


/* HOME */
    /* HERO */
        .home-hero{
            display: flex;
            flex-direction: column;
            margin: 0 auto; /* Centra horizontalmente el contenido */
            width: 100%;
            height: auto;
            padding: 24px 12px;
            background:var(--color-black);
        }
        
        .home-hero h1{
            font-size: 4rem;
            font-weight: bold;
            align-self: center;
            margin: 32px 0 12px 0px;
            color: var(--color-white);
        }
    
        .home-hero img{
            width: 100%;
            height: 600px;
            object-fit: none; /* recorta la imagen para que se ajuste al tamaño del contenedor sin deformarla */
        }

        .home-hero-text{
            font-size: 2.5rem;
            font-weight:200;
            width: 80%;
            margin: 24px 0px 32px 0px;
            align-self: center;
            text-align: center;
            color: var(--color-white);
        }

      


    /* HABILIDADES LABORALES */
        .home-skills {
            position: relative;
            width: 100%;
            min-width: 360px;
            height: auto;
            margin: 0 auto;
            padding: 44px 12px;
            background: var(--color-white);
        }
        
        .skills-detail--title {
            width: 70%;
            min-width: 320px;
            height: auto;
            margin: 0 auto;
            margin-top: 12px;
            text-align: center;
        }
        
        .skills-detail--title h2 {
            margin-bottom: 24px;
            font-size: 3rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: var(--color-black);
        }
        
        .skills-detail--title p {
            margin-bottom: 24px;
            line-height: 2.5rem;
            font-size: 2rem;
            font-weight: 500;
            color: var(--color-black);
        }

        .skills-detail--title p strong{
            font-size: 2.2rem;
            color: var(--colorSecundary-medium);
            
        }
        .main--skills {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            margin: 0 auto;
        }
        
    
        .skill-detail--card {
            position: relative;
            overflow: hidden;
            height: 550px;
            border-radius: 12px;
            z-index: 2;
            min-width: 320px;
            max-width: 550px;
            margin: 12px 0;
            padding: 0px 12px;
            box-shadow: -6px 4px 8px var(--colorGrey-medium);
        }
        
        .skill-card-image1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 320px;
            background-image: url(../assets/img/home/Programación-y-diseño.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 12px;
            z-index: 1;
        }

        .skill-card-image2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 320px;
            background-image: url(../assets/img/home//jason-cruzado-de-manos-y-pues.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 12px;
            z-index: 1;
        }

        .skill-card-image3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 320px;
            background-image: url(../assets/img/home/Sencilla-cuadrada.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 12px;
            z-index: 1;
        }
        
        
        .skill-card-content {
            position: absolute;
            padding: 20px;
            width: 320px;
            height: 37%;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 0px 0px 12px 12px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }
        
        .skill--card_title {
            margin-bottom: 16px;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: bold;
            text-align: left;
            color: var(--color-white);
        }
        
        .skill--card_body {
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: 200;
            letter-spacing: 0.4rem;
            height: 90px;
            color: var(--color-white);
            margin-bottom: 16px;
            text-align: left;
        }
        
        .skill--card_link {
            justify-self: right;
            width: auto;
            min-width: 280px;
            font-size: 2rem;
            font-weight: bold;
            line-height: 2rem;
            transition: color 0.3s ease-in-out;
            text-align: right;
        }
        .skill--card_link a{
            color: var(--colortTertiary-high);
        }
        
        .skill--card_link a:hover {
            color: var(--color-white);
        }
   
/* ACROBASICO */
    /* VIDEO */
        main {
            width: 100%;
            height: auto;
            background-color: var(--color-black);
        }
        .main--video-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            padding:24px 12px;
            text-align: center;
        }
        .main--video-container--title {
            width: 95%;
            min-width: 300px;
            max-width: 900px;
            margin: auto 0;
            font-size: 2rem;
            font-weight: bold;
            color:var(--color-white)
        }
        
        .main--video-container h2 {
            margin: 0px 0px 40px 0px;
            font-size: 3.5rem;
            font-weight: bold;
            line-height: 3.5rem;
            color: var(--color-white);
        }
        .main--video-container h3 {
            margin: 18px 0px 40px 0px;
            font-size: 3rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: var(--colorSecunday-soft);
        }

        /* Con esta clase hacemos que los videos que se pongan en un ifreme sean Responsive Design */
        .main--video-responsive {
            position: relative;
            padding-bottom: 56.25% ; /* 56.25% establece la proporción 16:9 */
        }
        .video-responsive-src {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
        .main--video-container p {
            margin:32px 0px 44px 0px;
            font-size: 2rem;
            color: var(--colorGrey-medium);
        }
        .main--video-container p strong{
            color: var(--color-white);
        }

    /* DETALLES DE EVENTO */
        .main--product-detail {
            position: relative;
            width: 100%;
            min-width: 320px;
            height: auto;
            padding: 44px 12px;
            background-color: var(--color-white);
        }

        .main--product-detail h3{
            margin: 32px 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 2rem;
            text-align: center;
            color:var(--colorSecunday-soft);
        }
        .product-detail--title {
            width: 90%;
            min-width: 288px;
            height: auto;
            margin: 0 auto;
            margin-top: 12px;
            text-align: center;
        }
        .product-detail--title h2 {
            margin-bottom: 20px;
            font-size: 3rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: var(--color-black);
        }
        .product-detail--title p {
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 500;
            line-height: 2rem;
            color:var(--color-black);
        }
        .product-detail--card {
            width: 90%;
            min-width: 288px;
            max-width: 400px;
            height: 250px;
            margin: 15px auto;
            padding: 15px;
            background-color: var(--color-black);
            box-shadow: -6px 4px 8px var(--colorGrey-medium);
            border-radius: 6px;
        }
        .product-detail--card .moon {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin: 10px 0 24px 0;
            background-image: url("../assets/img/icons/moon.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .product-detail--card .step {
            display: inline-block;
            width: 40px;
            height: 35px;
            margin: 10px 0 24px 0;
            background-image: url("../assets/img/icons/step.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .product-detail--card .sun {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin: 10px 0 24px 0;
            background-image: url("../assets/img/icons/sun.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .product-detail--card .start {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin: 10px 0 24px 0;
            background-image: url("../assets/img/icons/start.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .product--card_title {
            margin-bottom: 15px;
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1.8rem;
            color: var(--just-white);
        }
        .product--card_body {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color:var(--colorGrey-soft);
        }

        /*HELPERS */

            .main--helper-detail {
                position: relative;
                width: 100%;
                min-width: 320px;
                height: auto;
                padding: 44px 12px;
                background-color: var(--just-white);
            }
            .helper-detail--title {
                width: 90%;
                min-width: 288px;
                height: auto;
                margin: 0 auto;
                margin-top: 12px;
                text-align: center;
            }
            .helper-detail--title h2 {
                margin-bottom: 20px;
                font-size: 3rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: var(--color-black);
            }
            .helper-detail--title p {
                margin-bottom: 44px;
                font-size: 2rem;
                font-weight: 500;
                line-height: 2rem;
                color: var(--color-black);
            }
            .helper-detail--card {
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 220px;
                min-width: 240px;
                max-width: 340px;
                height: 350px;
                margin: 28px auto;
                padding: 15px;
                align-content: space-between;
                background-color: var(--colorGrey-soft);
                box-shadow: -6px 4px 8px var(--colorGrey-medium);
                border-radius: 32px;
                text-align: center;
                align-items: center;
                justify-content: center;
            }

          
            .helper-cards--container img{
                width: 40%;
                height: 40%;
                margin: 12px 0;
            }
            .helper--card_title {
                margin-bottom: 16px;
                font-size: 2rem;
                font-weight: bold;
                line-height: 2rem;
                color: var(--color-black);
                text-decoration: none;
            }
            .helper--card_title a{
                font-size: 2.8rem;
                text-decoration: none;
                color: var(--color-black);
                margin: 0px 0px 12px 0px;
            }
            .helper--card_body {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.8rem;
                color: var(--colorGrey-medium);
                margin: 0px 0px 12px 0px;
            }
        /* MAPA */
            
            .map{
                margin: 12px 16px;
                    
            }           

            .map-info--container{
                display: flex;
                position: relative;
                width: 100%;
                min-width: 360px;
                height: auto;
                min-height: 320px;
                text-align: center;

            }
            .map-card{
                position: relative;
                width: 100%;
                min-width: 360px;
                height: auto;
                padding: 44px 12px;
                background-color:var(--color-black)
            }

            .map-info-title{
                font-size: 3rem;
                font-weight: 700;
                margin-bottom: 20px;
                color: var(--color-white);
            }
            .map-card-subtitle{
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 2.5rem;
                margin: 12px 0 12px 0;
                color: var(--color-white);
            }
            
            .map-card-ubicacion a{
                color: var(--colorContrast-soft);
            }
            .map-card p{    
                font-size: 1.8rem;
                margin: 8px auto;
                color: var(--color-white);
            }
            .map-info-body {
                font-size: 2.8rem;
                margin: 8px 0 8px 0;
                color: var(--colorSecundary-medium);
            }
           
           .map-card-ubicacion{
            color: #23F0C7;
           }


        /* PLAN DE PAGO */
            .main-plans-container {
                position: relative;
                width: 100%;
                min-width: 360px;
                height: auto;
                padding: 44px 12px;
                min-height: 320px;
                text-align: center;
            }
            .main-plans-container h2 {
                margin-bottom: 32px;
                font-size: 3rem;
                font-weight: 300;
                font-weight: bold;
                line-height: 2.6rem;
                color: var(--color-white);
            }
            .main-plans-container p {
                margin-bottom: 24px;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.8rem;
                color:var(--colorGrey-medium);
            }
            
            /* Se hace el contendor para poder hacer scroll lateral */
            .plans-container--slider {
                display: flex;
                height: 400px;
                overflow-x: scroll;
                overscroll-behavior-x: contain;
                scroll-snap-type: x proximity;
            }

            .plan.card{
                display: flex;
            }
            .plans-container--card {
                position: relative;
                scroll-snap-align: center;
                width: 70%;
                min-width: 300px;
                max-width: 300px;
                height: auto;
                margin: 20px 16px;
                background-color: var(--just-white);
                border-radius: 15px;
                box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            }

            .plans-container--card:nth-child(2) {
                scroll-snap-align: start;
            }
            .plans-container--card .recommended {
                position: absolute;
                font-size: 2rem;
                width: 75%;
                height: auto;
                left: calc(40% - 81px);
                top: -20px;
                padding: 12px;
                background-color: var(--colorSecundary-medium);
                border-radius: 8px;
                color: var(--just-white);
            }

           
            .plan-card--title {
                height: 100px;
                padding: 32px 0;
                font-size: 3rem;
                font-weight: bold;
                line-height: 3rem;
                color: var(--color-black);
            }
            .plan-card--title1 {
                height: 100px;
                padding: 50px 0;
                font-size: 3rem;
                font-weight: bold;
                line-height: 3rem;
                color: var(--color-black);
            }


            .plan-card--title h3 {
                align-self: center;
                justify-self: center;
            }
            
            .plan-container-precio{
                display:flex;
                justify-content: center;

            }
            .plan-card span{
                font-size: 1.4rem;
                font-weight: bold;
                color: var(--colorSecunday-soft);
            }

            .plan-card-money{
                font-size: 2rem;
                font-weight: 700;
                margin: 10px 4px;
                color:var(--colorSecunday-soft)
            }

            .plans-container--card .plan-card--price {
                padding: 5px 0;
                font-size: 8rem;
                font-weight: bolder;
                line-height: 7rem;
                color: var(--color-black);
                margin: 0;
            }

            .best-price{
                color:var(--colorSecunday-soft)
            }


            .plans-container--card .plan-card--saving {
                padding-top: 10px;
                font-size: 2rem;
                margin: 0;
            }
            .plan-card--ca {
                width: 151px;
                height: 48px;
                margin-top: 20px;
                background: var(--off-white);
                border: 2px solid var(--color-black);
                border-radius: 12px;
                font-size: 1.4rem;
                font-weight: bold;
                line-height: 1.8rem;
                color: var(--black);
            }
            .plan-card--ca span {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-image: url("../assets/img/icons/right-row.svg");
                vertical-align: text-bottom;
            }

        /* FAQ */

        .FQA-container{
            position: relative;
            width: 100%;
            min-width: 360px;
            height: auto;
            padding: 44px 12px;
            background-color: var(--color-white);
        }
        .FQA-container h2{
            text-align: center;
            font-size: 3rem;
            columns: var(--color-black);
            margin: 24px 0px;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 90%;
            margin: auto;
        }
        
        .preguntas {
            margin: 12px;
            min-width: 320px;
            width: 70%;
            border: 1px solid var(--colorGrey-high);
            border-radius: 10px;
            padding: 16px 12px 12px 12px;
        }

        .pregunta_encabezado {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px 0 0;
          }
        
        .pregunta_encabezado h3 {
            max-width: 650px;
            font-size: 2.2rem;
            padding: 0  12px;
            margin: 0;
            cursor: pointer;
        }
        
        .arrow-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url("../assets/img/icons/down-arrow-black.svg");
            background-repeat: no-repeat;
            background-size:contain;
            vertical-align: middle;
          }
        
          .arrow-icon.rotate {
            transform: rotate(180deg);
          }
        
        .respuesta {
            padding: 12px 12px 12px 28px;
            height: 0;
            opacity: 0;
            font-size: 1.8rem;
            font-weight: 400;
            color: var(--color-black);
        }
        
        .respuesta ol{
            padding: 0 0 0 32px;
        }

        .respuesta.activo {
            height: auto;
            opacity: 1;
        }

      
          
      







    /* Establecemos el breakpoint en 1000px */ 
    @media only screen and (max-width: 1000px) {

        /* Aquí va el CSS que queremos aplicar para pantallas móviles */
            
        
            .main--skills {
                flex-direction: column;
            }
            

            .pregunta_encabezado h3 {
                max-width: 250px;
                font-size: 2rem;
                
            }
            .footer-links{
                width: 90%;
                align-self: center;
            }

            .footer-dev-container{
                width: 100%;
                align-self: center;
                justify-content: space-between;
            }
            .footer-event{
                width: 100%;

            }

            .footer-link-container{
                width: 100%;
                height: 50px;
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin:12px 0;
            }

            .nav__item--3 { 
                display: none;
            }
            
            .nav__item--4 { 
                display: none;
            }
            
            .nav__item--5{
                display: none;
            }

            .nav__item--6 {
                display:block;
            }
            .map{
                width: 90%;
                height: 500px;
                margin: 20px;;
            }
        }