/* Colores de marca @jasonquiar */
    :root {
        /* Colors */

        /* Primarios */
        --colorPrimary-high:#011638;
        --colorPrimary-medium:#0A2552;
        --colorPrimary-soft:#18376B;    

        /* secundary */
        --colorSecundary-high:#873D48;
        --colorSecundary-medium:#A15863;
        --colorSecunday-soft:#BA7983;

        /* Tertiary */
        --colortTertiary-high:#F9DC5C;
        --color-Tertiary-medium:#FFE678;
        --colorTertiary-soft:#FFEB91;

        /* contraste */
        --colorContrast-soft:#5EFFDF;
        --colorContrast-medium:#40FFD9;
        --colorContrast-high:#23F0C7;
        
        /* neutros */
        --just-white: #fff;
        --color-white: #F2F2F2;
        --just-black:#000;
        --color-black: #1F1F1F;
        
        /* Grises */
        --colorGrey-soft:#D7D7D7;
        --colorGrey-high: #6B6B6B;
        --colorGrey-medium:#9E9E9E;
    }

/* SETEO Y PATRONES DE DISEÑO */
   
    /* Quitamos valores por defecto */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        html {
            font-size: 62.5%;
            font-family: 'Montserrat', sans-serif;
        }
        
        a{ 
            text-decoration: none;
        }

        .icon img{
            width: 40px;
            height: 40px;
        }


    /* Navegador */
        .nav {
            background-color:var(--color-white);
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-gap: 10px;
            height: 60px;
            width: auto;
        }

        .item {
            align-self: center;
            justify-self: center;
        }

        .nav__item--1 { grid-column: 1; }

        .nav__item--2 { grid-column: span 2; }

        .nav__item--3 { grid-column: 6; }

        .nav__item--4 { grid-column: 7; }

        .nav__item--5 { grid-column: 8; }

        img {
            width: 20px;
        }

        .nav__item--2 {
            font-size: 1.6rem;
            font-weight: 700;

        }

    /* Cabezeras */
    
        header {        
            width: 100%;
            height: auto;
            background: var(--color-white);
        }
        .header--container {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 24px 12px;
        }
        .header--container img {
            align-self: center;
            width: 170px;
        }
        .header--container h1 {
            font-size: 4rem;
            font-weight: bold;
        }
        .header--container h2 {
            font-size: 2.5rem;
            font-weight: 500;
            margin:24px 0px 24px 0px;
            text-align: center;
        }
        .header--container h3{
            font-size: 1.8rem;
            color:var(--colorContrast-high)
        }

        .header--button {
            margin-top: 32px;
            padding: 12px;
            width: 190px;
            background: var(--color-black);
            /* Sombra  */
            box-shadow: -2px 4px 8px var(--color-black);
            border: none;
            border-radius: 8px;
            font-size: 1.4rem;
            font-weight: bold;
            color: var(--color-white);
            align-self: center;
        }
        .header--container .header--button span {
            display: inline-block;
            width: 13px;
            height: 8px;
            margin-left: 10px;
            background-image: url("../assets/img/icons/down-row.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: var(--color-white);
        }
    
    /* Pies de pagina */
        footer{
            width: 100%;
            height: 140px;
            /* display: grid;
            grid-template-rows:1fr 1fr; */
        }

        footer .footer-icons-container{
            width: 100%;
            height: 50px;
            display: grid;
            background-color:var(--color-black);
            justify-content: space-around;
            
        }
        footer .footer-icons-container .icons{
            width: 340px;
            height: auto;
            display: flex;
            justify-items: center;
            align-items: center;
            justify-content: space-between;
            justify-self: end;
        }

/* HOME */

    .home-hero{
        display: flex;
        flex-direction: column;
        margin: 0 auto; /* Centra horizontalmente el contenido */
        width: 100%;
        height: auto;
        padding: 24px 12px;
        background:var(--color-black);
    }
    
    .home-hero h1{
        font-size: 4rem;
        font-weight: 500;
        font-weight: bold;
        align-items: center;
        color: var(--color-white);
        align-self: center;
        margin: 44px 0 12px 0px;
    }
   
    .home-hero img{
        width: 100%;
        height: 800px;
        object-fit: none; /* recorta la imagen para que se ajuste al tamaño del contenedor sin deformarla */
    }

    .home-hero-text{
        font-size: 2.8rem;
        font-weight:300;
        width: 70%;
        margin: 24px 0px 24px 0px;
        align-self: center;
        text-align: center;
        color: var(--color-white);
    }

    /* HABILIDADES LABORALES */
    .home-skills {
        position: relative;
        width: 100%;
        min-width: 320px;
        height: auto;
        margin: 0 auto;
        padding: 44px 12px;
        background: var(--color-white);
      }
      
      .skills-detail--title {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 12px;
        text-align: center;
      }
      
      .skills-detail--title h2 {
        margin-bottom: 20px;
        font-size: 3rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--color-black);
      }
      
      .skills-detail--title p {
        margin-bottom: 44px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        color: var(--color-black);
      }

      .main--skills {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      
      
      .skill-detail--card {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 550px;
        border-radius: 12px;
        z-index: 2;
        min-width: 288px;
        max-width: 400px;
        margin: 12px 0;
        padding: 12px;
        box-shadow: -6px 4px 8px var(--colorGrey-medium);
        text-align: center;
      }
      
      .skill-card-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 320px;
        background-image: url(../assets/img/jason-cruzado-de-manos-y-pues.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 12px;
        z-index: 1;
      }
      
      .skill-card-content {
        position: absolute;
        padding: 20px;
        width: 320px;
        height: 35%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0px 0px 12px 12px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
      }
      
      .skill--card_title {
        margin-bottom: 16px;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2rem;
        color: var(--color-black);
        text-decoration: none;
      }
      
      .skill--card_title a {
        text-decoration: none;
        color: var(--color-black);
        margin: 0 4px;
      }
      
      .skill--card_body {
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: var(--color-white);
        margin-bottom: 24px;
      }
      
      .skill--card_link {
        text-decoration: none;
        color: var(--color-secondary);
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.4rem;
        transition: color 0.3s ease-in-out;
      }
      
      .skill--card_link:hover {
        color: var(--color-primary);
      }
      


      



/* ACROBASICO */
        /* Principal Video*/
            main {
                width: 100%;
                height: auto;
                background-color: var(--color-black);
            }
            .main--video-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                padding:24px 12px;
                text-align: center;
            }
            .main--video-container--title {
                width: 95%;
                min-width: 300px;
                max-width: 900px;
                margin: auto 0;
                font-size: 2rem;
                font-weight: bold;
                color:var(--color-white)
            }
            .main--video-container h2 {
                margin: 12px 0px 40px 0px;
                font-size: 3rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: var(--color-white);
            }

            /* Con esta clase hacemos que los videos que se pongan en un ifreme sean Responsive Design */
                .main--video-responsive {
                position: relative;
                padding-bottom: 56.25% ; /* 56.25% establece la proporción 16:9 */
            }
            .video-responsive-src {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            .main--video-container p {
                margin:32px 0px 44px 0px;
                font-size: 2rem;
                color: var(--colorGrey-medium);
            }
            .main--video-container p strong{
                color: var(--color-white);
            }

        /* Principal - Detalles del evento */
            .main--product-detail {
                position: relative;
                width: 100%;
                min-width: 320px;
                height: auto;
                padding: 44px 12px;
                background-color: var(--color-white);
            }

            .product-detail--title {
                width: 90%;
                min-width: 288px;
                height: auto;
                margin: 0 auto;
                margin-top: 12px;
                text-align: center;
            }
            .product-detail--title h2 {
                margin-bottom: 20px;
                font-size: 3rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: var(--color-black);
            }
            .product-detail--title p {
                margin-bottom: 20px;
                font-size: 2rem;
                font-weight: 500;
                line-height: 2rem;
                color:var(--color-black);
            }
            .product-detail--card {
                width: 90%;
                min-width: 288px;
                max-width: 400px;
                height: 250px;
                margin: 15px auto;
                padding: 15px;
                background-color: var(--color-black);
                box-shadow: -6px 4px 8px var(--colorGrey-medium);
                border-radius: 6px;
            }
            .product-detail--card .moon {
                display: inline-block;
                width: 35px;
                height: 35px;
                margin: 10px 0 24px 0;
                background-image: url("../assets/img/icons/moon.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .product-detail--card .step {
                display: inline-block;
                width: 40px;
                height: 35px;
                margin: 10px 0 24px 0;
                background-image: url("../assets/img/icons/step.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .product-detail--card .sun {
                display: inline-block;
                width: 35px;
                height: 35px;
                margin: 10px 0 24px 0;
                background-image: url("../assets/img/icons/sun.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .product-detail--card .start {
                display: inline-block;
                width: 35px;
                height: 35px;
                margin: 10px 0 24px 0;
                background-image: url("../assets/img/icons/start.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .product--card_title {
                margin-bottom: 15px;
                font-size: 1.8rem;
                font-weight: bold;
                line-height: 1.8rem;
                color: var(--just-white);
            }
            .product--card_body {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8rem;
                color:var(--colorGrey-soft);
            }

        /* Principal - Introducción de personas que trabajan */

            .main--helper-detail {
                position: relative;
                width: 100%;
                min-width: 320px;
                height: auto;
                padding: 44px 12px;
                background-color: var(--just-white);
            }
            .helper-detail--title {
                width: 90%;
                min-width: 288px;
                height: auto;
                margin: 0 auto;
                margin-top: 12px;
                text-align: center;
            }
            .helper-detail--title h2 {
                margin-bottom: 20px;
                font-size: 3rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: var(--color-black);
            }
            .helper-detail--title p {
                margin-bottom: 44px;
                font-size: 2rem;
                font-weight: 500;
                line-height: 2rem;
                color: var(--color-black);
            }
            .helper-detail--card {
                width: 90%;
                min-width: 288px;
                max-width: 400px;
                height: 350px;
                margin: 15px auto;
                padding: 15px;
                background-color: var(--colorGrey-soft);
                box-shadow: -6px 4px 8px var(--colorGrey-medium);
                border-radius: 4px;
                text-align: center;
            }

            .helper-cards--container img{
                width: 40%;
                height: 40%;
            }
            .helper--card_title {
                margin-bottom: 16px;
                font-size: 2rem;
                font-weight: bold;
                line-height: 2rem;
                color: var(--color-black);
                text-decoration: none;
            }
            .helper--card_title a{
                text-decoration: none;
                color: var(--color-black);
                margin: 0px 0px 12px 0px;
            }
            .helper--card_body {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.8rem;
                color: var(--colorGrey-medium);
                margin: 0px 0px 12px 0px;
            }

        .main-plans-container {
        width: 100%;
        min-height: 320px;
        padding-bottom: 70px;
        text-align: center;
        }
        .main-plans-container h2 {
        padding-top: 50px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: var(--black);
        }
        .main-plans-container p {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #757575;
        }
        .plans-container--slider {
        display: flex;
        /* gap: 50px; Aun no está soportado por todos los navegadores :( */
        height: 316px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        }
        .plans-container--card {
        position: relative;
        scroll-snap-align: center;
        width: 70%;
        min-width: 230px;
        max-width: 300px;
        height: 250px;
        margin: 50px 30px 0;
        padding: 0 15px;
        background-color: var(--just-white);
        border-radius: 15px;
        box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
        }
        .plans-container--card .recommended {
        position: absolute;
        width: 120px;
        height: 31px;
        left: calc(50% - 60px);
        top: -15px;
        margin: 0;
        padding: 6px;
        background-color: var(--bitcoin-orange);
        border-radius: 8px;
        color: var(--just-white);
        }
        .plan-card--title {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: black;
        }
        .plans-container--card .plan-card--price {
        padding: 5px 0;
        font-size: 5.3rem;
        font-weight: bold;
        line-height: 6.3rem;
        color: black;
        }
        .plans-container--card .plan-card--saving {
        padding-top: 0;
        }
        .plan-card--ca {
        width: 151px;
        height: 48px;
        margin-top: 20px;
        background: var(--off-white);
        border: 2px solid var(--bitcoin-orange);
        border-radius: 4px;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: var(--black);
        }
        .plan-card--ca span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("../assets/icons/orange-right-arrow.svg");
        vertical-align: text-bottom;
        }

        /* FAQ */


    /* Establecemos el breakpoint en 1000px */ 
    @media only screen and (max-width: 1000px) {
    /* Aquí va el CSS que queremos aplicar para pantallas móviles */
        
        .main--skills {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: space-around;
            margin: 0 auto;
            }
        }
    
