.nav {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    height: 70px;
    width: auto;
  }
  
  .item {
    align-self: center;
    justify-self: center;
  }
  
  .nav__item--1 {
    grid-column: 1;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .nav__item--2 {
    grid-column: span 1;
    font-size: 1.8rem;
    font-weight: 500;
    font-size: 1.6rem;
    font-weight: 700;
  }
  
  .nav__item--6 {
    grid-column: 11;
    justify-self: end;
    display: block;
  }
  
  .nav__list {
    grid-column: 3 / span 9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
  }
  
  .nav__list--active {
    height: 150px;
  }
  
  .nav__item--3,
  .nav__item--4,
  .nav__item--5 {
    display: none;
  }
  
  .nav__list--active .nav__item--3,
  .nav__list--active .nav__item--4,
  .nav__list--active .nav__item--5 {
    display: block;
  }
  
  @media only screen and (min-width: 1000px) {
    .nav__item--3,
    .nav__item--4,
    .nav__item--5 {
      display: block;
    }
  
    .nav__item--6 {
      display: none;
    }
  
    .nav__list {
      grid-column: 3 / span 3;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  